/// setting
$g4import-reset: false;

/// color
$gbasic-color: #425674;
$gcolor-active: #3278fe;
$gcolor-placeholder: #ccc;

/// font
$gbasic-family: 'PingFangSC-Regular', Arial, 'Microsoft YaHei', sans-serif;
$gbasic-size: 20px;
$gsize-body: 14px;

/// default
$gbasic-path: unquote('~@/assets/');